data/*
*cache/*
plots/*

# Ignore generated output except human-readable artifacts and directory stub
output/*
!output/.gitkeep
!output/*.html
!output/*.csv
!output/*.txt

*.Rout
priors/*.rds
scripts/.Rhistory
tests/testthat/*.log

.DS_Store
.history/
.lintr
