data/*
*cache/*
plots/*

# Ignore all output except HTML dashboards and directory stub
output/*
!output/.gitkeep
!output/*.html

*.Rout
priors/*.rds
scripts/.Rhistory
tests/testthat/*.log

.DS_Store
.history/
.lintr
